body {
  color: #1F1F1F;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  cursor: default;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  background: #03A9F4;
}
.menubar {
  background-color: #FAFAFA;
  border-bottom: 2px solid #E0E0E0;
  height: 32px;
  line-height: 32px;
}
.toolbar {
  background-color: #FAFAFA;
  border-right: 2px solid #E0E0E0;
  width: 223px;
}
.toolbar .padded {
  padding: 5px;
}
.toolbar .header,
.toolbar .footer {
  height: 50px;
  line-height: 50px;
}
.toolbar .configItem {
  padding: 5px 10px;
  border-radius: 3px;
  overflow: hidden;
  height: 1em;
}
.toolbar .configItem:hover,
.toolbar .configItem.selected {
  background-color: #E0E0E0;
}
.navi:hover {
  color: #9E9E9E;
}
.navi.pointer:hover {
  color: #03A9F4;
}
.header {
  font-weight: bold;
}
.settings {
  display: flex;
  flex-direction: column;
}
.settings .item {
  width: 100%;
  height: 26px;
  line-height: 26px;
  position: relative;
}
.settings .item label {
  float: left;
  width: 90px;
}
.settings .item input[type=text] {
  width: 115px;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  padding: 3px;
  box-sizing: border-box;
  color: #9E9E9E;
  transition: all 200ms linear;
}
.settings .item input[type=text]:hover {
  border-color: #03A9F4;
  color: #1F1F1F;
}
.settings .item input[type=text]:focus {
  color: #1F1F1F;
  border-color: #03A9F4;
  outline: none;
  box-shadow: inset 0 0 2px #03A9F4;
}
.settings .item input[type=text].error {
  border-color: #F44336;
  color: #F44336;
}
.settings .item input[type=text].error:focus {
  box-shadow: inset 0 0 2px #F44336;
}
.settings .item input[type=file] {
  display: none;
}
.contextMenu {
  position: absolute;
  background-color: #FAFAFA;
  border: 1px solid #E0E0E0;
  padding: 5px 0;
  z-index: 2;
}
.contextMenu .item {
  padding: 2px 5px;
  cursor: pointer;
}
.contextMenu .item:hover {
  background-color: #E0E0E0;
}
.veil {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.pointer {
  cursor: pointer;
}
.disabled {
  cursor: not-allowed;
}
.hidden {
  display: none;
}
button {
  height: 24px;
  min-width: 60px;
  margin: 0 5px;
  outline: none;
  background-color: inherit;
  border: 2px solid #E0E0E0;
  border-radius: 3px;
  transition: all 150ms linear;
}
button:hover {
  border-color: #03A9F4;
  color: #03A9F4;
}
button.disabled:hover {
  border-color: #F44336;
  color: #F44336;
}
canvas {
  position: absolute;
  top: 34px;
}
