// out: style.css

@dark: #1F1F1F;
@dark-text: #1F1F1F;
@light: #FAFAFA;
@light-text: #9E9E9E;
@light-border: #E0E0E0;
@light-highlight: #03A9F4;
@light-disabled: #F44336;

body {
	color: @dark-text;
	padding: 0;
	margin: 0;
	-webkit-user-select: none;
	cursor: default;
	overflow: hidden;
}
::-webkit-scrollbar {
  width: 12px;
	height: 12px;
}
::-webkit-scrollbar-track {}
::-webkit-scrollbar-thumb {
  background: @light-highlight;
}
.menubar {
	background-color: @light;
	border-bottom: 2px solid @light-border;
	height: 32px;
	line-height: 32px;
}
.toolbar {
	background-color: @light;
	border-right: 2px solid @light-border;
	width: 223px;
	.padded {
		padding: 5px;
	}
	.header, .footer {
		height: 50px;
		line-height: 50px;
	}
	.configItem {
		padding: 5px 10px;
		border-radius: 3px;
		overflow: hidden;
		height: 1em;
		&:hover, &.selected {
			background-color: @light-border;
		}
	}
}
.navi {
	&:hover {
		color: @light-text;
	}
	&.pointer:hover {
		color: @light-highlight;
	}
}
.header {
	font-weight: bold;
}
.settings {
	display: flex;
	flex-direction: column;
	.item {
		width: 100%;
		height: 26px;
		line-height: 26px;
		position: relative;
		label {
			float: left;
			width: 90px;
		}
		input[type=text]{
			width: 115px;
			border: 1px solid @light-border;
			border-radius: 3px;
			padding: 3px;
			box-sizing: border-box;
			color: @light-text;
			transition: all 200ms linear;
			&:hover {
				border-color: @light-highlight;
				color: @dark-text;
			}
			&:focus {
				color: @dark-text;
				border-color: @light-highlight;
				outline: none;
				box-shadow: inset 0 0 2px @light-highlight;
			}
			&.error {
				border-color: @light-disabled;
				color: @light-disabled;
				&:focus {
					box-shadow: inset 0 0 2px @light-disabled;
				}
			}
		}
		input[type=file] {
			display: none;
		}
	}
}
.contextMenu {
	position: absolute;
	background-color: @light;
	border: 1px solid @light-border;
	padding: 5px 0;
	z-index: 2;
	.item {
		padding: 2px 5px;
		cursor: pointer;
		&:hover {
			background-color: @light-border;
		}
	}
}
.veil {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.pointer {
	cursor: pointer;
}
.disabled {
	cursor: not-allowed;
}
.hidden {
	display: none;
}
button {
	height: 24px;
	min-width: 60px;
	margin: 0 5px;
	outline: none;
	background-color: inherit;
	border: 2px solid @light-border;
	border-radius: 3px;
	transition: all 150ms linear;
	&:hover {
		border-color: @light-highlight;
		color: @light-highlight;
	}
}
button.disabled {
	&:hover {
		border-color: @light-disabled;
		color: @light-disabled;
	}
}
canvas {
	position: absolute;
	top: 34px;
}
