body {
	padding: 0;
	margin: 0;
	-webkit-user-select: none;
}
h2 {
  font-size: 20px;
  margin: 0;
	padding: 0 auto;
	width: 100%;
  text-align: center;
  text-transform: uppercase;
}
h2.no-span {
  display: table;
  white-space: nowrap;
}
h2.no-span:before, h2.no-span:after {
  border-top: 5px solid #2B2B2B;
  content: '';
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 45%;
}
h2.no-span:before {
	right: 1.5%;
}
h2.no-span:after {
	left: 1.5%;
}
#contextMenu {
	position: absolute;
	background-color: #ffffff;
	border: 1px solid #BABABA;
	margin: 0;
	width: 100px;
	z-index: 2;
	left: 50px;
	display: none;
	padding: 3px 0;
}
#contextMenu span {
	display: block;
	background-color: #ffffff;
	width: 94px;
	height: 20px;
	padding: 0 3px;
	cursor: default;
}
#contextMenu span:hover {
	color: #ffffff;
	background-color: #2B2B2B;
}
#menuBar {
	height: 48px;
	width: 100%;
	background-color: #F6F6F6;
	border-bottom: 2px solid #2B2B2B;
}
#toolsWrapper {
	width: 190px;
	height: auto;
	background-color: #F6F6F6;
	padding: 5px;
}
#menuHover {
	width: 50px;
	height: 20px;
	position: absolute;
	background-color: #2B2B2B;
	color: #F6F6F6;
	text-align: center;
	top: 15px;
	display: none;
	cursor: pointer;
	pointer-events: none;
}
.menuItem {
	cursor: pointer;
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 5px;
}
#configList {
	margin-bottom: 5px; 
	overflow: auto;
}
.configListItem, .poseListItem, .poseItem {
	cursor: pointer;
	padding: 3px 0;
}
.configListItem:hover, .poseListItem:hover, .poseItem:hover {
	background-color: #ffffff;
}
.button {
	padding: 2px 0;
	margin: 0 3px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	text-transform: none;
	color: #F6F6F6;
	background: #2B2B2B;
	width: 60px;
}
.button:hover {
  opacity: .7;
}
